<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Player</key>
	<dict>
		<key>x</key>
		<integer>1526</integer>
		<key>y</key>
		<integer>10</integer>
	</dict>
	<key>Map</key>
	<array>
		<dict>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<integer>2038</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1526</integer>
			<key>y</key>
			<integer>2038</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1526</integer>
			<key>y</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<integer>10</integer>
		</dict>
	</array>
</dict>
</plist>
